<%- include("partials/header"); %>
<link rel="stylesheet" href="css\common.css">
<link rel="stylesheet" href="css\about.css">
<div class="jumbotron jumbotron-fluid" style="background-color: #222831;">
    <div class="container">
      <h1 class="display-4" style="color: rgb(255, 255, 255);text-align: center;">About Qmate</h1>
      <p class="lead" style="color: rgb(196, 196, 196);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore repellat dignissimos eius possimus nemo earum unde explicabo nobis ex. Consectetur, aspernatur. Voluptate fugit ex dolore unde expedita veniam nesciunt, cum soluta esse provident blanditiis beatae aperiam sapiente dolor nulla culpa eligendi molestias dignissimos consequatur repellendus quae, odio doloremque fuga. Omnis eum officiis distinctio aperiam. Tenetur ea voluptas dolore alias, autem nam magni provident praesentium nemo consequuntur quaerat error placeat quis corporis eaque. Modi hic molestiae et, ratione quibusdam eos repudiandae laboriosam qui maiores alias temporibus enim perferendis non. Officia autem voluptate debitis doloremque ex expedita voluptatum. Nostrum odit laboriosam voluptatibus unde eos cumque sequi voluptas saepe nesciunt nobis officia accusamus voluptate ab quasi, inventore quia harum excepturi temporibus soluta aliquid quidem nisi. Et dolores, explicabo sequi corrupti cumque quaerat adipisci itaque quae eveniet enim fugiat, fugit eligendi? Iusto dolorem in temporibus doloremque corporis qui deleniti, mollitia aliquam laboriosam amet tenetur omnis praesentium cupiditate eaque neque, corrupti provident facere. Tempora assumenda, debitis non at doloremque nulla magni totam provident mollitia neque. Maxime dolore ratione asperiores vitae quaerat, laudantium a. Voluptatem magni nobis amet doloremque similique, voluptate quae? Consequuntur iusto vel eligendi. Eaque quia architecto sunt, esse nisi aliquid neque quas si officia quisquam voluptates totam earum. Repellendus ea facere atque soluta voluptatibus consequuntur, nobis iure aut? Laboriosam suscipit tenetur nulla, voluptate atque optio non unde itaque cupiditate totam repellat exercitationem facere doloribus recusandae accusantium quas delectus porro dicta consectetur. Maiores facere deserunt, reprehenderit non corporis illum facilis eum modi sapiente nisi dolores repellat in. Incidunt distinctio aut, perferendis omnis mollitia debitis sequi eligendi cumque delectus ratione sapiente et rem!</p>
    </div>
</div>

<h3 style="text-align: center; margin-bottom: 30px;">The Developers</h3>
<div class="container-fluid d-flex justify-content-center">
    <div class="card mx-5" style="width: 18rem;">
        <img src="images\homepage-1.svg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">Bhavesh Sengunthar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Link To Github</a>
        </div>
      </div>
    <div class="card mx-5" style="width: 18rem;">
        <img src="images\homepage-1.svg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">Yash Nerkar</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Link To Github</a>
        </div>
      </div>
    <div class="card mx-5" style="width: 18rem;">
        <img src="images\homepage-1.svg" class="card-img-top" alt="img">
        <div class="card-body">
          <h5 class="card-title">Dhruv Rajput</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Link To Github</a>
        </div>
      </div>
</div>

<%- include("partials/footer"); %>