<%- include("partials/header"); %>
<link rel="stylesheet" href="css\homepage.css">
<link rel="stylesheet" href="css\common.css">
  <div class="jumbotron jumbotron-fluid">
    <img class="float-right" src="images\homepage-1.svg" alt="image" height="200px" width="500px">
    <div class="container">
      <h1 class="display-4">Welcome to Qmate</h1>
      <p class="lead">We at Qmate aim to make the process of learning, Fun for the Students and Also Make the Teaching Simple for Teachers</p>
      <button class="btn btn-success">Learn More</button>
    </div>
  </div>

  <h3 style="text-align: center;">Features</h3>
  <div class="container-fluid part-2 d-flex justify-content-center">
    <div class="container pl-5 mx-auto">
      <img src="images\20943401.jpg" alt="image" height="200px" width="200px">
      <p>Teachers can Create upto 5 Quizzes</p>
    </div>
    <div class="container">
      <img src="images\20943401.jpg" alt="image" height="200px" width="200px">
      <p>Very Useful to Conduct Online Examination</p>
    </div>
    <div class="container">
      <img src="images\20943401.jpg" alt="image" height="200px" width="200px">
      <p>Teachers can Create upto 5 Quizzes</p>
    </div>
  </div>


  <div class="container-fluid part-3 justify-content-center">
    <h3 style="text-align: center;">Contact Details</h3>
    <div class="container">
      <div class="row">
        <div class="col" style="border-right: 2px solid #29a19c;">
         <h4 style="text-align: center;">Social Handles</h4>
         <img class="mx-auto" src="images\icons\instagram.svg" alt="insta" height="30px" width="30px"><span>@qmatedotcom</span><br>
         <img class="my-3 mr-3" src="images\icons\github.png" alt="github" height="30px" width="30px"><span>@qmatedotcom</span><br>
         <img class="my-3 mr-3" src="images\icons\gmail.png" alt="gmail" height="30px" width="30px"><span>@qmatedotcom</span><br>
        </div>
        <div class="col ml-3">
          <h4 style="text-align: center;">Address Details</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum atque, ut quisquam consequatur autem provident doloremque, voluptatibus nesciunt ducimus dignissimos officia ullam tempora labore laboriosam ex laborum perferendis ipsa est Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas saepe, mollitia inventore nemo officia ullam neque rerum possimus totam quos amet fuga. Quaerat sequi perspiciatis nobis, sit ipsa eaque harum ab, odio explicabo, quae sint consectetur modi quidem porro assumenda. Placeat ad ea nobis accusamus accusantium quis omnis quasi praesentium!</p>
        </div>
      </div>
    </div>
  </div>





<!-- <form action="/teacher/signup" method="post">
  <h3>teacher signup</h3>
  <input type="email" name="username" id="" placeholder="Enter Email" />
  <input type="password" name="password" id="" placeholder="Enter password" />
  <input type="submit" value="Submit" />
</form>


<form action="/teacher/login" method="post">
  <h3>teacher login</h3>
  <input type="email" name="username" id="" placeholder="Enter Email" />
 
  <input type="password" name="password" id="" placeholder="Enter password" />
 
  <input type="submit" value="Submit" />
</form>

<br>
<p><%= error %></p>
<form id="joinClass" action="/joinClass" method="post">
<div>
  <p>Join Class : </p>
<input  type="text" id="classCode" name="classCode" placeholder="Enter the class code">
<button type="submit" id="submitCode">Join</button>
</form>

<form action="/checkClassCode" method="post">
  <p>Enter classCode</p>
  <input type="text" name="classCode" id="">
  <input type="submit" name="" id="" value="Submit">
</form> -->

<%- include("partials/footer"); %>
