.navbar{
  font-family: 'Karantina', cursive;
}

body{
  
  color: white;
}

.part-2 img{
  border-radius: 50%;
}
.jumbotron{
  background-color: #222831 !important;
}
  
.part-2{
  background-color: #393E46;
  padding: 50px;
}

