.existingListItem{
    display: block;
}

.inputListItem{
    display: block;
}

.hiddenElement{
    visibility: hidden;
}

.activeTest{
    background-color: grey;
}
.activeStudent{
    background-color:lightgreen;
}